.todo {
    border: 1px solid grey;
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    p {
        flex: 1;
        margin-bottom: 0;
        padding: 5px 0;
    }

    span {
        cursor: pointer;
    }
}
