<div class="row align-items-center justify-content-center m-0">
    <div class="col-4">
        <h2>Reactive Form</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name">Name:</label>
                <input type="text" class="form-control" placeholder="Sama Gyani" name="name" required
                    formControlName="name" minlength="5">
                <div [hidden]="control('name')?.valid || control('name')?.pristine" class="text-danger mt-1">
                    <ng-container *ngIf="control('name')?.errors?.['required']">
                        Name is required
                    </ng-container>
                    <ng-container *ngIf="control('name')?.errors?.['minlength']">
                        Name must be atleast {{control('name')?.errors?.['minlength']?.requiredLength}} characters
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="sama.gyani@gmail.com" name="email" required
                    formControlName="email">
                <div [hidden]="control('email')?.valid || control('email')?.pristine" class="text-danger mt-1">
                    <ng-container *ngIf="control('email')?.errors?.['required']">
                        Email is required
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label for="gender">Gender:</label>
                <select name="gender" id="gender" class="form-control" required formControlName="gender">
                    <option value="">Select gender</option>
                    <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                </select>
                <div [hidden]="control('gender')?.valid || control('gender')?.pristine" class="text-danger mt-1">
                    <ng-container *ngIf="control('gender')?.errors?.['required']">
                        Gender is required
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label for="note">Note:</label>
                <textarea name="note" id="note" rows="3" class="form-control" placeholder="Enter note"
                    formControlName="note"></textarea>
            </div>
            <div class="mb-3">
                <label for="agree-tc">
                    <input type="checkbox" class="me-2" id="agree-tc" name="agreeTc" required formControlName="agreeTc">
                    <span>Agree to terms &amp; conditions*</span>
                </label>
                <div [hidden]="control('agreeTc')?.valid || control('agreeTc')?.pristine" class="text-danger mt-1">
                    <ng-container *ngIf="control('agreeTc')?.errors?.['required']">
                        Check terms &amp; conditions
                    </ng-container>
                </div>
            </div>
            <button class="btn btn-light border me-2" type="reset">Reset</button>
            <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">Submit</button>
        </form>
    </div>
</div>