nav {
    

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
    }

    li {
        list-style-type: none;
        padding: 5px 10px;

        a {
            text-decoration: none;
        }
    }
}